.App-logo_criar_orgao {
    height: 60px;
    width: 60px;
}

.App-logo_criar_orgao:hover {
    transform: scale(1.2);
}


.cabecalho_criar_orgao {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.preencher_criar_orgao {
    margin-bottom: 10px;
}

.botao_criar_orgao:hover {
    font-weight: bold;
    transform: scale(1.2);
    background-color: #0b3e25;
    color: white;
}

.botao_criar_orgao {
    background-color: #0b3e25;
    width: 300px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.052);
    transition: 0.3s;
    border-radius: 25px;
    margin-right: 0px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}

.titulo_criar_orgao {
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.principal_criar_orgao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco_criar_orgao {
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 25px;
    width: auto
}