.botao_morador:hover {
    font-weight: bold;
    transform: scale(1.2);
    background-color: #0b3e25;
}

.botao_morador {
    background-color: #0b3e25;
    width: 300px;
    height: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.052);
    transition: 0.3s;
    border-radius: 25px;
}

.conteudo_morador {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.botoes_morador {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.titulo_morador {
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.App-logo_morador {
    height: 60px;
    width: 60px;
}

.cabecalho_morador {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.principal_morador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco_morador {
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 25px;
    width: auto
}