.App {
  width: 100%;
  height: 100%;
  color: white;
}

/* Cabeçalho */
.App-header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0b3e25;
}

.App-logo {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.App-logo:hover {
  transform: scale(1.2);
}

/* Botões */
.botao_comecar {
  padding: 15px 30px;
  background-color: white;
  color: green;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao_comecar:hover {
  background-color: #f0f0f0;
  font-weight: bold;
  transform: scale(1.2);
}

.letra_botao2 {
  color: #0b3e25;
  text-decoration: none;
}

.letra_botao2:hover {
  color: #082919;
  font-weight: bold;
}

/* Seções Principais */
.faixa_quadrado {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quadrado {
  width: 80%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.5);
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.esquerda_quadrado {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.direita_quadrado {
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo2 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

/* Rodapé */
.rodape {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
}

.direitos_rodape1, .direitos_rodape2 {
  color: black;
  text-align: center;
  margin: 10px 0;
}

/* Ajuste Modal (Se aplicável) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 20px;
}
/* Botões de Login e Registrar no cabeçalho */
.botoes_cabecalho {
  display: flex;
  gap: 20px;
  align-items: center;
}

.botao_login, .botao_registrar {
  padding: 10px 20px;
  background-color: #0b3e25;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.botao_login:hover, .botao_registrar:hover {
  background-color: #06481d;
}

.letra_botao {
  color: white;
  text-decoration: none;
}

.letra_botao:hover {
  color: #f0f0f0;
}


.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 50px;
}
