.App {
  width: 100%;
  height: 100%;
  color: white;
}

/* Cabeçalho */
.App-header {
  width: 100%;
  height: 50px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.App-logo {
  width: 60px;
  height: 60px;
  margin: 20px 10px 0;
  transition: transform 0.3s ease-in-out;
}

.App-logo:hover {
  transform: scale(1.2);
}

/*botoes cabecalho */

.botao_login, .botao_registrar {
  width: 120px;
  height: 50px;
  margin: 25px 20px 0;
  text-align: center;
  background-color: #0b3e25;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.052);
  transition: 0.3s;
  border-radius: 25px; /* Adiciona bordas arredondadas */
}

.botao_login:hover, .botao_registrar:hover {
  border-color: blueviolet;
  font-weight: bold;
  transform: scale(1.2);
}

.letra_botao {
  color: aliceblue;
}

/* outro botao */

.letra_botao2{
  color: #0b3e25;
}


.letra_botao2:hover{
  transform: scale(1.63);
  color: #082919;
  font-weight: bold;
}

/* Carrosel */

.carrosel {
  width: 100%;
  height: 700px;
  background-image: url("https://i.ibb.co/3hVFg2r/cidade-verde.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo_carrosel {
  font-weight: bold;
  font-size: 200px;
  color: white;
}

/* Motivo */

.motivo {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.conteudo_motivo {
  margin-left: 150px;
  margin-right: 150px;
}

.titulo_motivo {
  font-weight: bold;
  font-size: 40px;
  margin-right: 15px;
  color: black;
}

.texto_motivo {
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: justify;
}

/* Quadrado */

.faixa_quadrado {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quadrado {
  width: 80%;
  height: 100%;
  background-image: url("https://i.ibb.co/3hVFg2r/cidade-verde.jpg");
  background-size: cover;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.esquerda_quadrado {
  width: 50%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.conteudo_quadrado {
  font-weight: bold;
  font-size: 40px;
  margin-right: 25px;
  margin-left: 55px;
}

.direita_quadrado {
  width: 50%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo2 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

/* Botões meio */

.letra_botao2 {
  background-color: white;
  width: 230px;
  height: 70px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 1px 2px grey;
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 128, 0, 0.5);
}

.letra_botao2:hover {
  transform: scale(1.2);
  color: rgba(0, 128, 0, 0.5);
}

/* Rodapé */

.direitos {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.direitos_rodape1,
.direitos_rodape2 {
  color: black;
  text-align: center;
  margin: 10px 0;
}

/* Overlay e Modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
}

.close-button {
  position: absolute;
  top: 50px;
  right: 930px;
  background: none;
  border: 5px;
  cursor: pointer;
  font-size: 50px;
  background-color: #0b3e25;
}
